{
  "presets": [
    "./tools/grommet-babel-preset-env"
  ],
  "plugins": [
    [
      "transform-imports", 
      {
        "grommet-icons": {
          "transform": "grommet-icons/es6/icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        },
        "mnet-icons/HbAdmin": {
          "transform": "mnet-icons/dist/HbAdmin/icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        },
        "mnet-icons/Neo": {
          "transform": "mnet-icons/dist/Neo/icons/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        }
      }
    ]
  ]
}

